<html>
    <body>
        <div class="loading-page">
             <img class="loading-image" src="/nwplus.gif" />
        </div>
    </body>
    <style>
        html {
            background-color: black;
        }
        .loading-page {
        position: fixed;
        top: 0%;
        left: 0%;
        height: 100%;
        width: 100%;
        text-align: center;
        padding-top: 200px;
        z-index: 100;
        }
        .loading-image {
        margin: auto;
        width: 10%;
        }
    </style>
</html>
